body{
    margin: 0;
    background-color: #f2f2f2;
}


header{
    
    height: 80px;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
   
    
    
}

header h1{
    
    font-size: 40px;
    color: #505252;
}

header .navbar{
    list-style: none;
    margin: 0;
}

header .navbar li {
    
    display: inline-block;
    
}


header .navbar li a{
position: relative;    
display: flex;
float: right;
color: #fff;
text-decoration: none;
border: 2px solid #14b4dd;
padding: 10px 40px;
border-radius: 40px;
background-color: #14b4dd;
top:15px;
margin-left: 350px;

}

header .navbar li a:hover {
    background-color: #1995e1;
}

main{
    max-width:700px;
    margin: 0 auto;
    
}

article{
   
    margin: 50px 60px;
    padding: 30px;
    background-color: #fff;
    height: 215px;
    border-radius: 2em;
    box-sizing: border-box;
    
}


article img{
    
    width: 100px;
    height:100px ;
    border-radius: 50px;
    
}

article h2{
    display:inline;
    position: relative;
    left: 10px;
    top: -2px;
    margin-left: 100px;
    
   
}

article p {
    
    margin-left: 110px;
    color: #3e3f3f;
    
    
      
}

article .main_content{
    display: inline;
    position: relative;
    top: -90px;
    left: 20px;
   
    
}

article:last-child {
    border: none;
}

.content{
    margin: -91px 130px;
}

.content a{
    color: #14b4dd;
    
}

#add h2{

    margin-left: -10px;
    font-weight: bold;
    font-size: 25px;
   
}
main label{
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

#add{
    background-color: #fff;
    padding: 40px;
    max-width: 550px;
    border-radius: 10px;
}

main input,textarea{
    font-size: 18px;
    padding: 10px;
    background-color: #fdfdfd;
    border: 1px solid #e1e1e1;
    margin-top: 6px;
    border-radius: 2px;
    outline: none;
    min-width: 60%;
    transition: background-color ease-in-out 0.2s; 
    max-width: 100%;
   
}

main input:focus,
main textarea:focus{
    
    background-color: #fff;
}

main button {
    
   background-color: #14b4dd;
   color: #fff;
   width: 19%;
   border-radius: 50px;
   padding: 10px; 
   cursor: pointer;
   border: none;
   font-size: 16px;
   margin-top: 12px;
   padding: 12px;
   
  
}

